@import url('https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,300..1000,0..1,0..1,0..1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wdth,wght@0,75..100,100..700;1,75..100,100..700&display=swap');

.ibm-plex-sans {
}

/*
body {
    /* font-family: 'Recursive', monospace;   */
    font-family: "IBM Plex Sans", sans-serif;
    line-height: 1.75;
    max-width: 42rem;
    margin: 5rem;
    /* font-variation-settings: "CASL" 1; */
    text-underline-offset: 0.15rem;
}
*/

@media screen and (max-width: 500px) {
    
    body {
        margin: 2.5rem;
    }


}

