@import url('https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,300..1000,0..1,0..1,0..1&display=swap');

body {
    overflow: auto;
    font-family: 'Recursive', monospace;
    margin: 80;
    line-height: 1.75;
}
